@model FreelancersAPI.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete User</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Skillsets)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Skillsets)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Hobby)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Hobby)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-lg rounded-pill btn-danger" id="display" />
    </form>
</div>
